<h1>Nuclear Code</h1>

<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
<br>

<% if current_user.has_role? :President %>
  <%= @potus_code %>
<% elsif current_user.has_role? :Russia %>
  <%= @russian_code %>
<% elsif current_user.has_role? :DefSec %>
  <%= @defsec_code %>

<% end %>
